<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playground</title>
    <style>
        h1{
            font-family: monospace;
            align-self: center;
        }
        .container{
            height: auto;
            width: auto;
            display: flex;
            
        }
        .box{
            height: 150px;
            width: 150px;
            background-color: blue;
            border: solid black 2px;
            border-radius: 10px;
            display: flex;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
<div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>

</body>
</html>